
<div>
  <button mat-raised-button color="primary" (click)="openDialog()">Neues Produkt</button>
</div>

<table mat-table [dataSource]="products" class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let product">{{ product.name }}</td>
  </ng-container>

  <!-- Image Column -->
  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef>Bild</th>
    <td mat-cell *matCellDef="let product">
      <img [src]="product.image" alt="{{ product.name }}" width="50">
    </td>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Beschreibung</th>
    <td mat-cell *matCellDef="let product">{{ product.description }}</td>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Preis</th>
    <td mat-cell *matCellDef="let product">{{ product.price | currency: 'EUR':'symbol':undefined:'de-DE' }}</td>
  </ng-container>

  <!-- Quantity Column -->
  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef>Anzahl</th>
    <td mat-cell *matCellDef="let product">{{ product.stock }}</td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Aktionen</th>
    <td mat-cell *matCellDef="let product">
      <button mat-button (click)="openDialog(product)">Bearbeiten</button>
      <button mat-button color="warn" (click)="deleteProduct(product.id)">
        <mat-icon>delete</mat-icon> Löschen</button>
    </td>
  </ng-container>

  <!-- Header and Row Declarations -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
