<div class="profile-container">
  <mat-card class="profile-card">
    <mat-card-header>
      <mat-icon class="profile-icon" mat-card-avatar>person</mat-icon>
      <mat-card-title>{{ profile.firstName }} {{ profile.lastName }}</mat-card-title>
      <mat-card-subtitle>{{ profile.email }}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <div class="spacer"></div>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Rechnungen
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table mat-table [dataSource]="invoices" class="mat-elevation-z8">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Datum </th>
          <td mat-cell *matCellDef="let invoice"> {{ invoice.date | date }} </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Betrag </th>
          <td mat-cell *matCellDef="let invoice"> {{ invoice.amount | currency }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['date', 'amount']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['date', 'amount'];"></tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>
</div>
