mat-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-list-item div {
  margin: 4px 0;
}

h2, h3 {
  margin-top: 0;
}
.cart-item{
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.cart-item:nth-of-type(2n){
  background-color: rgba(203, 198, 201, 0.07);
}
