<div id="container">

  <header>
    <mat-toolbar color="primary">
      <span class="project" [style.cursor]="'pointer'" routerLink="home"> Drinkcollab </span>
      <span class="flex-grow"></span>
      <span class="links" [style.cursor]="'pointer'" routerLink="request-account"> Request Account </span>
      <span class="links" [style.cursor]="'pointer'" routerLink="login"> Login </span>
    </mat-toolbar>
  </header>

  <main class="flex-grow">
    <router-outlet />
  </main>

  <footer>
    <div >
      <h2>Footer Drinkcollab (todo)</h2>
    </div>
  </footer>

</div>
