<header>
  <mat-toolbar>
    <!-- Linkes Icon zum Öffnen der linken Sidenav -->
    <button *ngIf="(isAuthenticated$ | async)" mat-icon-button (click)="leftDrawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div *ngIf="!(isAuthenticated$ | async)" class="hide-menu">
    </div>

    <span class="toolbar-title">Drinkcollab</span>

    <!-- Spacer damit Buttons nach rechts rutschen-->
    <span class="spacer"></span>
    <!-- Rechtes Icon für den Warenkorb -->

    <button *ngIf="!(isAuthenticated$ | async)"mat-button routerLink="request-account">Request Account</button>
    <button *ngIf="!(isAuthenticated$ | async)" mat-button routerLink="login">Login</button>
    <button *ngIf="(isAuthenticated$ | async)" mat-icon-button  (click)="rightDrawer.toggle()" aria-label="Warenkorb anzeigen">
      <mat-icon>shopping_basket</mat-icon>
    </button>
    <button *ngIf="(isAuthenticated$ | async)" mat-button (click)="logout(); leftDrawer.close(); rightDrawer.close()">Logout</button>
  </mat-toolbar>
</header>

<!-- Main Content with Sidenavs -->
<mat-sidenav-container class="example-container">
  <!-- Linke Sidenav -->
  <mat-sidenav #leftDrawer mode="side" class="example-sidenav">
    <mat-nav-list>
      <mat-list-item>
        <span><u> Shop: </u></span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon></mat-icon>
        <span class="project" [style.cursor]="'pointer'" routerLink="home"> Alle Produkte </span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon></mat-icon>
        <span class="project" [style.cursor]="'pointer'" routerLink="drinks"> Getränke </span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon></mat-icon>
        <span class="project" [style.cursor]="'pointer'" routerLink="snacks"> Snacks </span>
      </mat-list-item>
      <div *ngIf="(isAuthorized$ | async)">
        <mat-list-item>
          <span><u> Admin: </u></span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon></mat-icon>
          <span class="project" [style.cursor]="'pointer'" routerLink="produkt-verwaltung"> Produktverwaltung </span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon></mat-icon>
          <span class="project" [style.cursor]="'pointer'" routerLink="admin"> Nutzerverwaltung </span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon></mat-icon>
          <span class="project" [style.cursor]="'pointer'" routerLink="new-user"> Account Requests </span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon></mat-icon>
          <span class="project" [style.cursor]="'pointer'" routerLink="home"> Abrechnungen </span>
        </mat-list-item>

        <mat-list-item>
          <span><u> Profile: </u></span>
        </mat-list-item>
      </div>

    </mat-nav-list>
  </mat-sidenav>

  <!-- Rechte Sidenav für den Warenkorb -->
  <mat-sidenav #rightDrawer mode="side" position="end" class="example-sidenav">
    <app-shoping-card></app-shoping-card>
  </mat-sidenav>

  <!-- Hauptinhalt -->
  <mat-sidenav-content>
    <main class="flex-grow">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
