#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
header {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.example-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
mat-toolbar{
  background: #483D8B;
}
.example-sidenav {
  width: auto;
}
.mat-sidenav-content {
  padding: 16px;
}
.flex-grow {
  flex-grow: 1;
}
.spacer {
  flex: 1 1 auto;
}
.hide-menu{
  width: 48px;
  height: 48px;
}
main {
  flex: 1;
}
footer {
  background-color: #483D8B;
  text-align:center;
  justify-content: center;
  width:100%;
  height:50px;
}
.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
