.product-list {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.product-list mat-form-field {
  width: 100%;
}
.paginator {
  width: 100%;
  margin-top: 20px;
  border: 1px solid #303030;
  border-radius: 10px;
}
.search{
  border: 1px solid #303030;
  border-radius: 10px;
}
.sortby{
  display: flex;
  justify-content: flex-end;
  max-width: 200px;
  margin-left: 10px;
  border: 1px solid #303030;
  border-radius: 10px;
}
mat-card{
  border: 1px solid #303030;
  border-radius: 10px;
  flex-wrap: wrap;
  max-width: 20%;
  max-height: 20%;
}
mat-card-actions{
  justify-content: end;
}
mat-card img {
  max-width: 100%;
  max-height: 240px;
  height: 240px;
  object-fit: scale-down;
  justify-content: center;
}
