<h1 mat-dialog-title>Produkt {{ data.id ? 'bearbeiten' : 'hinzufügen' }}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.name" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Brand</mat-label>
    <input matInput [(ngModel)]="data.brand" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Bild-URL</mat-label>
    <input matInput [(ngModel)]="data.image" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Beschreibung</mat-label>
    <textarea matInput [(ngModel)]="data.description" required></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Preis</mat-label>
    <input matInput type="number" [(ngModel)]="data.price" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Anzahl</mat-label>
    <input matInput type="number" [(ngModel)]="data.stock" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Category</mat-label>
    <input matInput [(ngModel)]="data.categoryName" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Typ</mat-label>
    <mat-select [(ngModel)]="data.type" required>
      <mat-option *ngFor="let type of types" [value]="type">{{ type }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Abbrechen</button>
  <button mat-button [mat-dialog-close]="data">Speichern</button>
</div>
