<mat-card>
  <mat-card-header>
    <mat-card-title>Invoice Details</mat-card-title>
    <mat-card-subtitle>Invoice ID: {{ invoice.id }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p><strong>Email:</strong> {{ invoice.user.email }}</p>
    <p><strong>Total Amount:</strong> {{ invoice.totalAmount }} €</p>
    <p><strong>Due Date:</strong> {{ invoice.dueDate | date: 'short' }}</p>
    <p><strong>Created At:</strong> {{ invoice.createdAt | date: 'short' }}</p>

    <h3>Orders</h3>
    <div *ngFor="let order of invoice.orders">
      <p><strong>Order ID:</strong> {{ order.id }}</p>
      <p><strong>Order Created At:</strong> {{ order.createdAt | date: 'short' }}</p>

      <table mat-table [dataSource]="order.orderItems" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Product Name </th>
          <td mat-cell *matCellDef="let item"> {{ item.product.name }} </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef> Quantity </th>
          <td mat-cell *matCellDef="let item"> {{ item.quantity }} </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let item"> {{ item.price }} € </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['name', 'quantity', 'price']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['name', 'quantity', 'price'];"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>


<app-paypal-button2></app-paypal-button2>
